// Variables
$background-color: #ffffff;
$primary-color: #ffffff; // Blue
$secondary-bg: #E3F9F5; // Light Gray
$hero-bg: #164343; // Green
$button-radius: 15px; // Border radius for buttons
$button-color: #16A571; // Button color



$font-family: 'Outfit', sans-serif;

// $font-size-base: 1rem; // 16px
// $font-size-sm: 0.875rem; // 14px
// $font-size-lg: 1.25rem; // 20px

$line-height-base: 1.6;
$line-height-heading: 1.2;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$text-color: #333;
$heading-color: #111;